.forecastContainer {
  padding: 20px;
  background-color: #f3e2c7;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.graphContainer {
  height: 200px; /* Height for the graph */
  position: relative;
  margin-bottom: 20px;
}

.forecastItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecastItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 12%; /* Distribute evenly */
}

.temperature {
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  top: -20px; /* Adjust the temperature above the graph */
}

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.windSpeed {
  font-size: 0.8rem;
  color: #777;
  margin-bottom: 5px;
}

.time {
  font-size: 0.8rem;
  color: #555;
  margin-top: 5px;
}
