.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e046;
}

.title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.buttonBack {
    background: none;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.6s;
}

.buttonBack:hover,
.buttonBack:focus {
    transform: scale(1.3);
}

.iconLocation {
    width: 22px;
    height: 22px;
    color: #333;
    display: flex;
    align-items: center;
}

.locationTitle {
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
}

.date {
    font-size: 1rem;
    color: #f1f1f1;
}

@media (max-width: 1200px) {
    .titleContainer {
        display: block;
    }
}

@media (max-width: 768px) {
    .titleContainer {
        display: block;
    }
}

@media (max-width: 480px) {
    .titleContainer {
        display: block;
    }
}