.conditions {
    max-width: 480px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.detailItem {
    font-size: 1rem;
    color: #555;
    display: flex;
    align-items: center;
    gap: 5px;
}

.conditionIcon {
    margin-right: 5px;
    color: #333;
}
